<%-include ('partials/header') -%>

  <h1 class="pt-5 mt-5">Search Results</h1>
  
  <div class="row">
    <% movies.forEach(movie => { %>
        <div class="col-md-2 mb-6">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %>" class="card-img-top" alt="<%= movie.title %> Poster">
                <div class="card-body">
                    <h5 class="card-title"><%= movie.title %></h5>
                    <a href="movie/<%= movie.id %>" class="btn btn-primary">
                        DEtails
                    </a>
                </div>
            </div>
        </div>
    <% }); %>
</div>



    <footer class="fixed-bottom">CineMania</footer>
</body>
</html>

